:root {
    --primary-color: #2d5cf6;
    --secondary-color: #8dd883;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
}
html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;

}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

footer {
    margin-top: auto
}

.button {
    background-color: var(--primary-color);
    color: white;

    display: block;
    margin: 16px 0;
    padding: 12px 16px;

    width: 100%;
    border-radius: 4px;

    /* para colocar o botão para baixo */
    align-self: end;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;


    cursor: pointer;

    transition: all 0.2s;
    border: none;

    
}

.button:hover {
    background-color: #8dd883;
    
}

/* HEADER */

header, footer {
    background-color: #343a40;
    color: white;

    width: 100%;
    padding: 32px 0;

    text-align: center;
    margin-bottom: 20px;
}

header div.container {
    display: grid;
    grid-template-columns: 220px auto;
    align-items: center;
    grid-gap: 24px;
}

header div.container a {
    justify-self: start;
}
/* LOGO */
.logo {
    width: 50px;
    
}

.logo h1 {
    
    font-size: 16px;

    margin-left: 22px;

    color: rgb(189, 184, 184);
    transition: 200ms;
     
}
.logo h1:hover{
    color: white;
}

.logo h2 {
    color: red;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 2px;
    
    
    transition: 200ms;
}

.logo h2:hover{
    color: rgb(247, 92, 92);
}

/* PRIMARY MENU*/
nav.primary{
    width: auto;
}

nav.primary ul
{   
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

nav.primary ul li:first-child {
    margin-right: 15px;
}

nav.primary ul li a{
    display: flex; 
    align-items: center;
    

    color: rgb(189, 184, 184);

    transition: 200ms;
}

nav.primary ul li a:hover{
    color: white;
}

nav.primary ul li a i{
    margin-right: 8px;
    
}


/* login */
section.login.container,
section.password.container {
    max-width: 500px;
}

section.login.container .field,
section.password.container .fields {
    margin-bottom: 32px;
}

section.form {
    background-color: white;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .9);
    border: 1px solid #efefef;
    border-radius: 4px;

    max-width: 700px;
    width: 90%;
}

section .header h3 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    font-weight: bold;
    color: var(--primary-color);

    margin-bottom: 16px;
}
form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

form .form-group label {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 8px;
}

input{
    width: 100%;

    padding: 8px 16px;

    box-shadow: 2px 2px 2px -4px rgba(63,63,63,.9);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
}

.check-password {
    width: auto;
}

form span {
    color: red;
}

input.error {
    border: 1px solid #db0f0f;
}
input:focus {
    background: #EFF5FF;
    outline: solid 2px #73A6FF;
}

section.login.container .footer ul{
    display: flex;
    justify-content: space-evenly;
}

section.login.container .footer ul li a {
    color: #777;
}

section.login.container .footer ul li a:hover {
    color: black;
    font-weight: bold;
}

